.loading {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5em solid var(--color-dark-blue);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
