.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background-color: var(--color-white);
  width: 90vw;
  padding: 3em 2em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 1.5;
  font-size: 1.2rem;
}

.btnRestart {
  all: unset;
  margin-top: 2em;
  background-color: var(--color-yellow);
  padding: 0.5em;
  font-size: 0.8rem;
  width: 40%;
  text-align: center;
  border-radius: 0.4em;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

.btnRestart:hover {
  filter: brightness(1.2);
}

@media only screen and (min-width: 800px) {
  .modal {
    width: 70vw;
    font-size: 1.5rem;
  }

  .btnRestart {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .modal {
    width: 70vw;
  }
}
