.setupForm {
  background-color: var(--color-white);
  padding: 3em;
  width: 90vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.05);
}

.setupHeading {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
}

.setupList {
  list-style: none;
  margin-top: 2em;
}

.setupItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
}

.setupLabel {
  color: var(--color-gray);
  font-size: 0.9rem;
}

.setupInput {
  background-color: var(--color-bg);
  border: none;
  margin-top: 0.8em;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  width: 100%;
  outline: none;
}

.cursor {
  cursor: pointer;
}

.btnStart {
  all: unset;
  font-weight: bold;
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
  text-align: center;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Merriweather", serif;
  letter-spacing: 1.5px;
}

.btnStart:hover {
  filter: brightness(1.2);
}

@media only screen and (min-width: 600px) {
  .setupForm {
    width: 70vw;
  }
}

@media only screen and (min-width: 800px) {
  .setupForm {
    width: 60vw;
  }

  .setupLabel {
    font-size: 1rem;
  }

  .setupInput {
    font-size: 1rem;
  }

  .btnStart {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .setupForm {
    width: 40vw;
  }
}

@media only screen and (min-width: 1300px) {
  .setupForm {
    width: 30vw;
  }
}

@media only screen and (min-width: 2000px) {
  .setupForm {
    width: 20vw;
  }
}
