.pageContainer {
  padding: 2em 1em;
}

.heading {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
}

.moviesSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 2em;
}

@media only screen and (min-width: 800px) {
  .pageContainer {
    padding: 2em 4em;
  }
}

@media only screen and (min-width: 1000px) {
  .pageContainer {
    padding: 2em 8em;
  }
}

@media only screen and (min-width: 1400px) {
  .pageContainer {
    padding: 2em max(10vw, 20vw);
  }
}
