.imgContainer::before {
  content: "";
  width: 40vw;
  height: 45vh;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  border-radius: 0 0 10rem 0;
  z-index: -2;
}

.img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .imgContainer::before {
    height: 40vh;
  }
}

@media only screen and (max-width: 900px) {
  .imgContainer::before {
    height: 35vh;
  }
}

@media only screen and (max-width: 800px) {
  .imgContainer::before {
    height: 30vh;
  }
}

@media only screen and (max-width: 700px) {
  .imgContainer::before {
    display: none;
  }

  .img {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .imgContainer::before {
    width: 35vw;
  }

  .img {
    width: 110%;
  }
}

@media only screen and (min-width: 2000px) {
  .imgContainer::before {
    height: 55%;
  }

  .img {
    width: 120%;
  }
}
