.pageContainer {
  padding: 4rem 0 0;
}

.profileContainer {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-gap: 5rem;
  padding: 0 4rem;
}

.profileImg {
  width: 100%;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.username {
  font-size: 2.5rem;
}

.photosInfoContainer {
  display: flex;
  align-items: center;
}

.photosCount {
  font-size: 2rem;
}

.photosText {
  font-size: 1.2rem;
  color: var(--color-gray);
}

.btnImport {
  outline: none;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  padding: 0.6rem 0.8rem;
  color: var(--color-blue);
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.4s;
  text-decoration: none;
}

.btnImport:hover {
  background-color: var(--color-light-gray);
}

.photosSection {
  margin-top: 11rem;
  background-color: var(--color-gray-section);
  padding: 2rem 4rem 4rem;
  position: relative;
  min-height: 20rem;
  margin-bottom: 7rem;
}

.photosSection::before {
  content: "";
  height: 6rem;
  background-color: var(--color-gray-section);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.photosSection::after {
  content: "";
  height: 6rem;
  background-color: var(--color-gray-section);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.heading {
  margin-bottom: 3rem;
}

.photosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

@media only screen and (max-width: 700px) {
  .profileContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .profileImg {
    width: 70%;
  }

  .infoContainer {
    align-items: center;
  }

  .infoContainer > * {
    margin-bottom: 2rem;
  }

  .username {
    color: var(--color-white);
  }

  .photosCount {
    color: var(--color-white);
  }

  .photosText {
    color: var(--color-white);
  }

  .btnImport {
    color: var(--color-gray);
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 0.8rem var(--color-shadow);
  }

  .btnImport:hover {
    color: var(--color-white);
    background-color: var(--color-gray);
  }

  .photosSection {
    margin-top: 3rem;
    background-color: transparent;
    padding: 2rem 4rem 4rem;
    margin-bottom: 5rem;
  }

  .photosSection::before {
    display: none;
  }

  .photosSection::after {
    display: none;
  }

  .heading {
    color: var(--color-white);
  }
}

@media only screen and (max-width: 400px) {
  .profileContainer {
    padding: 0 2rem;
  }

  .photosSection {
    padding: 0 2rem;
  }

  .username {
    font-size: 1.5rem;
  }

  .photosContainer {
    grid-template-columns: 1fr;
  }

  .btnImport {
    font-size: 1rem;
  }
}
