.overlay {
  background-color: rgb(83, 104, 223, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background-color: var(--color-white);
  width: 75vw;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.8rem var(--color-shadow);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.btnBack {
  color: var(--color-primary);
  font-size: 1.8rem;
  transition: 0.4s;
  margin-bottom: 2rem;
  align-self: flex-start;
}

.btnBack:hover {
  color: var(--color-black);
}

@media only screen and (max-width: 500px) {
  .modal {
    padding: 2rem;
  }

  .btnBack {
    color: var(--color-primary);
    font-size: 1.3rem;
    transition: 0.4s;
    margin-bottom: 2rem;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1500px) {
  .modal {
    width: 60vw;
  }
}

@media only screen and (min-width: 1500px) {
  .modal {
    width: 50vw;
  }
}
