.pageContainer {
  padding: 4rem 0;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24rem;
}

.barsContainer {
  width: var(--size-users-bars-container);
  height: var(--size-users-bars-container);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.bar {
  width: calc(0.2 * var(--size-users-bars-container));
  height: calc(0.8 * var(--size-users-bars-container));
  background-color: var(--color-primary);
}

.bar:first-child {
  animation: grow 1s -0.45s ease-in-out infinite;
}

.bar:nth-child(2) {
  animation: grow 1s -0.3s ease-in-out infinite;
}

.bar:nth-child(3) {
  animation: grow 1s -0.15s ease-in-out infinite;
}

.bar:last-child {
  animation: grow 1s ease-in-out infinite;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.btnBackTop {
  margin-top: 1.5rem;
  font-family: "Merriweather", serif;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  box-shadow: 0 0.5rem 0.8rem var(--color-shadow);
}

.btnBackTop:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}

@media only screen and (max-width: 800px) {
  .errorContainer {
    font-size: 1.2rem;
  }

  .btnBackTop {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .errorContainer {
    color: var(--color-white);
  }

  .btnBackTop {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-white);
  }

  .btnBackTop:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    border: 1px solid var(--color-gray);
  }

  .bar {
    background-color: var(--color-white);
  }
}

@media only screen and (max-width: 500px) {
  .errorContainer {
    font-size: 1rem;
  }

  .btnBackTop {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 400px) {
  .errorContainer {
    font-size: 0.7rem;
  }

  .btnBackTop {
    font-size: 0.6rem;
  }
}
