.content {
  padding: 5rem 2rem 3rem;
}

.content h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.cart-list {
  padding: 2rem 0 4rem;
}

.price-total-container {
  border-top: 2px solid var(--color-price-text);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem;
  color: var(--color-products-text);
  font-weight: bold;
}

.btn-clear-container {
  text-align: center;
}

.btn-clear {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 600;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-clear:hover {
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-bg);
}

.empty-cart {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--color-price-text);
  margin-top: 3rem;
}
