.cart-item {
  display: grid;
  grid-template-columns: 5rem 1fr 2rem;
  grid-gap: 1.5rem;
}

.cart-item:not(:last-child) {
  margin-bottom: 2rem;
}

.cart-item img {
  width: 100%;
}

.product-info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.product-name {
  line-height: 1.5;
  color: var(--color-products-text);
  font-weight: bold;
}

.product-price {
  font-size: 1.3rem;
  color: var(--color-price-text);
  font-weight: bold;
}

.btn-remove,
.btn-remove:active {
  margin-top: auto;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: var(--color-primary);
  transition: all 0.3s;
}

.btn-remove:hover {
  color: var(--color-remove-text-hover);
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.btn {
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: var(--color-primary);
  transition: all 0.4s;
}

.btn:hover {
  color: var(--color-remove-text-hover);
}
