.article {
  color: var(--color-black);
  font-size: 0.8rem;
  transition: 0.5s;
}

.article:not(:last-child) {
  margin-bottom: 3em;
}

.articleHeading {
  color: var(--color-red);
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  transition: 0.5s;
  font-family: "Merriweather", serif;
}

.time {
  margin-bottom: 1em;
}

.article.dark {
  color: var(--color-white);
}

.article.dark .articleHeading {
  color: var(--color-pink);
}

@media only screen and (min-width: 500px) {
  .article {
    font-size: 1rem;
  }

  .articleHeading {
    font-size: 2.2rem;
  }
}
