.btnToggle {
  all: unset;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.5em;
  font-size: 0.8rem;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0.8em rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.btnToggle:hover {
  background-color: var(--color-pink);
  color: var(--color-black);
}

.btnToggle.dark {
  background-color: var(--color-pink);
  color: var(--color-black);
}

.btnToggle.dark:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

@media only screen and (min-width: 500px) {
  .btnToggle {
    font-size: 1rem;
  }
}
