*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-gray: #5e6061;
  --color-white: #fff;
  --color-primary: hsl(231, 69%, 60%);
  --color-black: #000;
  --color-light-gray: #ced4da;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-red: orangered;
  --color-bg-gradient-1: #4568dc;
  --color-bg-gradient-2: #b06ab3;
  --color-blue: #007bff;
  --color-light-gray: #f1f2f6;
  --size-bars-container: 10rem;
  --color-gray-section: #f1f2f6;
  --size-users-bars-container: 2rem;
}

body {
  font-family: "Merriweather", serif;
}

@media only screen and (max-width: 700px) {
  body {
    background-image: linear-gradient(
      to right bottom,
      var(--color-bg-gradient-1),
      var(--color-bg-gradient-2)
    );
  }
}
