.btn {
  all: unset;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--color-dark-blue);
}

.btn.active {
  background-color: var(--color-dark-blue);
}
