.sidebar {
  background-color: white;
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.sidebar.active {
  transform: translateX(0);
}

.logo-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-close-sidebar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}

.btn-close-sidebar:hover {
  filter: brightness(1.3);
}

.sidebar li {
  list-style: none;
}

.sidebar-link,
.sidebar-link:active {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  color: var(--color-nav-text);
  transition: all 0.4s;
}

.sidebar-link:hover {
  background-color: var(--color-body-bg);
}

.icon {
  margin-right: 1rem;
}

.social-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.social-list {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 1.2rem;
}

.social-link {
  color: var(--color-btn-toggle);
  font-size: 1.7rem;
  transition: all 0.4s;
}

.social-link:hover,
.social-link:active {
  color: var(--color-btn-modal);
}

@media screen and (max-width: 43.75em) {
  .sidebar {
    width: 100vw;
  }
}
