*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
}

:root {
  --color-blue: #617d98;
  --color-dark-blue: #063251;
  --color-light-blue: #8bcbf9;
  --color-bg: #f1f5f8;
  --color-white: #fff;
}

/* font-family: 'Merriweather', serif; */
