.search-list {
  padding: 1.5rem 4rem;
}

.search-list-heading {
  text-align: center;
  letter-spacing: 4px;
  font-size: 2rem;
}

.cards-container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  grid-gap: 3rem;
}

@media only screen and (min-width: 62.5em) {
  .search-list {
    padding: 1.5rem 6rem;
  }
}
