*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #4bd8be;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #c2c2c2;
  --color-sidebar: #282828;
  --color-yellow: #ffc107;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-black);
}

/* font-family: 'Merriweather', serif;   */
