.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  margin-top: 3em;
}

.footerList {
  list-style: none;
  display: flex;
  align-items: center;
}

.footerList:not(:last-child) {
  margin: 0.7em 0;
}

.linkItem:not(:last-child) {
  margin-right: 2em;
}

.socialItem:not(:last-child) {
  margin-right: 1.5em;
}

@media only screen and (min-width: 640px) {
  .footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 800px) {
  .footer {
    padding: 2em 3em;
  }
}

@media only screen and (min-width: 900px) {
  .linkItem:not(:last-child) {
    margin-right: 3em;
  }
}

@media only screen and (min-width: 1200px) {
  .linkItem:not(:last-child) {
    margin-right: 5em;
  }

  .socialItem:not(:last-child) {
    margin-right: 2.5em;
  }
}

@media only screen and (min-width: 1500px) {
  .footer {
    padding: 2em max(8em, 10vw);
  }
}
