.pageContainer {
  padding: 2em 1em;
  color: var(--color-gray);
}

.heading {
  color: var(--color-white);
  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.subHeading {
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3em;
}

.paragraph {
  font-size: 0.9rem;
  line-height: 1.5;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2em;
}

@media only screen and (min-width: 640px) {
  .paragraph {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .pageContainer {
    padding: 2em 3em;
  }
}

@media only screen and (min-width: 1100px) {
  .heading {
    font-size: 4.5rem;
  }

  .subHeading {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1500px) {
  .pageContainer {
    padding: 2em max(8em, 10vw);
  }
}
