.form {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.input {
  padding: 0.5em 0.8em;
  outline: none;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  font-family: "Roboto", sans-serif;
  width: 85%;
  font-size: 0.9rem;
}

.input:focus {
  border: 2px solid var(--color-primary);
}

.btnSubmit {
  all: unset;
  border: 2px solid var(--color-primary);
  font-size: 0.9rem;
  padding: 0.5em 0.6em;
  color: var(--color-primary);
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSubmit:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}

@media only screen and (min-width: 800px) {
  .form {
    padding: 0;
  }

  .input {
    padding: 0.5em 1em;
    border-radius: 1rem;
    border: 1px solid var(--color-gray);
    width: 80%;
    background-color: var(--color-sidebar);
    color: var(--color-white);
    font-size: 0.8rem;
  }

  .input::placeholder {
    color: var(--color-white);
    font-size: 0.7rem;
  }

  .input:focus {
    border: 1px solid var(--color-primary);
  }

  .btnSubmit {
    border: 1px solid var(--color-primary);
    font-size: 0.85rem;
    border-radius: 50%;
    padding: 0.5em;
  }
}

@media only screen and (min-width: 900px) {
  .input {
    font-size: 0.9rem;
  }

  .input::placeholder {
    font-size: 0.8rem;
  }

  .btnSubmit {
    font-size: 0.95rem;
  }
}

@media only screen and (min-width: 1000px) {
  .input {
    font-size: 1.1rem;
    border-radius: 2rem;
  }

  .btnSubmit {
    font-size: 1.1rem;
  }
}
