.link {
  color: var(--color-gray);
  font-size: 1.2rem;
  transition: 0.4s;
  display: inline-block;
}

.link:not(:last-child) {
  margin-right: 2em;
}

.link:hover {
  color: var(--color-white);
  transform: scale(1.2);
}

@media only screen and (min-width: 900px) {
  .link {
    font-size: 1.3rem;
  }
}
