.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logo {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .logoContainer {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.8;
  }
}
