.pageContainer {
  padding: 2rem 4rem;
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.headingSecondary {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-gray);
  margin-bottom: 2rem;
}

.paragraph {
  padding: 0 5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .paragraph {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .paragraph {
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .heading,
  .headingSecondary,
  .paragraph {
    color: var(--color-gray-section);
  }

  .paragraph {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 3rem;
  }

  .headingSecondary {
    font-size: 0.9rem;
  }

  .paragraph {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .pageContainer {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .heading {
    font-size: 5rem;
  }

  .headingSecondary {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }

  .paragraph:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .heading {
    margin-bottom: 3rem;
  }

  .headingSecondary {
    margin-bottom: 4rem;
  }

  .paragraph {
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 2000px) {
  .paragraph {
    font-size: 1.3rem;
    padding: 0 15rem;
  }

  .paragraph:not(:last-of-type) {
    margin-bottom: 3.5rem;
  }
}
