.btnLike {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #fff;
  transition: 0.4s;
  outline: none;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
}

.btnLike.liked {
  background-color: #ff4757;
  color: #fff;
}

.icon {
  margin-right: 0.8rem;
  color: #a4b0be;
}

.icon.spin {
  animation: spin 0.4s linear;
}

.btnLike.liked .icon {
  color: #fff;
}

.btnLike:hover,
.btnLike.liked:hover {
  transform: scale(1.1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
