.logoLink {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
}

.logo {
  font-size: 1.6rem;
  margin-right: 0.3rem;
  color: var(--color-black);
}

@media only screen and (max-width: 700px) {
  .logoLink {
    color: var(--color-white);
  }

  .logo {
    color: var(--color-white);
  }
}
