.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: relative;
  z-index: 5;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--color-black);
  font-weight: bold;
}

.logo {
  font-size: 1.6rem;
  margin-right: 0.3rem;
  color: var(--color-black);
}

.btnToggle {
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  background-color: transparent;
  font-size: 1.3rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.btnToggle:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.navList {
  list-style: none;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.navList.active {
  display: block;
}

.navItem {
  width: 90vw;
  padding: 0.8rem 2rem;
  transition: 0.4s;
}

.navItem:hover {
  background-color: var(--color-gray);
}

@media only screen and (min-width: 900px) {
  .btnToggle {
    display: none;
  }

  .navList {
    position: static;
    transform: translateX(0);
    background-color: transparent;
    border-radius: 0;
    display: flex;
    align-items: center;
  }

  .navList.active {
    display: flex;
    align-items: center;
  }

  .navItem {
    width: max-content;
    padding: 0;
  }

  .navItem:not(:last-child) {
    margin-right: 3rem;
  }

  .navItem:hover {
    background-color: transparent;
  }
}

@media only screen and (max-width: 700px) {
  .logoContainer {
    color: var(--color-white);
  }

  .logo {
    color: var(--color-white);
  }

  .btnToggle {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
  }

  .btnToggle:hover {
    background-color: var(--color-white);
    color: var(--color-gray);
  }

  .navList {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding: 1rem 2rem;
  }
}
