.spinner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.15);
  border-bottom: 10px solid var(--color-primary);
  animation: rotate 1s ease infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
