.userContainer {
  margin-top: 8rem;
  position: relative;
}

.userContainer.gray {
  background-color: var(--color-gray-section);
}

.userContainer.gray::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-gray-section);
  height: 7rem;
  transform: translateY(-100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.userContainer.gray::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-gray-section);
  height: 7rem;
  transform: translateY(100%);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.userContainer:last-child {
  margin-bottom: 4rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 20vw;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.username {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.4s;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}

.username::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transition: 0.5s;
}

.username:hover::after {
  transform: scaleX(1);
}

.photoInfo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

.photoText {
  font-size: 1.2rem;
  color: var(--color-gray);
}

.photosSection {
  padding: 0 4rem;
  margin: 2rem 0;
}

.heading {
  margin-bottom: 2rem;
}

.photosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.images {
  width: 100%;
}

.btnContainer {
  text-align: center;
}

.btnSeeMore {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem var(--color-shadow);
  transition: 0.4s;
  display: inline-block;
}

.btnSeeMore:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .profileImage {
    width: 30vw;
  }
}

@media only screen and (max-width: 700px) {
  .userContainer.gray {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .userContainer.gray::before,
  .userContainer.gray::after {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .username {
    color: var(--color-black);
  }

  .username::after {
    background-color: var(--color-black);
  }

  .photoText {
    color: var(--color-black);
  }

  .btnSeeMore {
    z-index: 5;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .profileImage {
    width: 40vw;
  }

  .btnSeeMore {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .photosSection {
    padding: 0 2rem;
  }
}
