.loading {
  width: 6em;
  height: 6em;
  margin: 2em auto;
  border-radius: 50%;
  border: 1em solid transparent;
  border-top: 1em solid var(--color-dark-black);
  border-bottom: 1em solid var(--color-dark-black);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
