.searchbar {
  margin: 2em 0;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  padding: 0.5em;
  border: none;
  border-bottom: 3px solid var(--color-gray);
  background-color: transparent;
  transition: 0.5s;
}

.searchbar:focus {
  border-bottom: 3px solid var(--color-blue);
}

@media only screen and (min-width: 600px) {
  .searchbar {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .searchbar {
    width: 55%;
  }
}
