.overlay {
  display: none;
}

@media screen and (max-width: 50em) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.8s;
    transform: scale(0);
  }

  .overlay.active {
    transform: scale(1);
  }

  .sidebar {
    width: 80vw;
    height: 95vh;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--color-gray);
  }

  .btn-container {
    text-align: right;
  }

  .btn-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  .sidebar p {
    font-weight: bold;
    text-transform: capitalize;
  }

  .sidebar li {
    list-style: none;
  }
}
